:root {
  --blue:#23A6ED;
  --transBlue:#ffffff3a;
  --textColor:rgb(110, 110, 110);
  --ulbarShar:#f16122;
}

a {
  text-decoration: none !important;
}

@media (max-width: 990px) {
  #header .header-container #header-links {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  #header .header-row2 .logo img {
    width: 200px !important;
  }

}

@media (min-width: 991px) {
  #header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
    background-color: white !important;
    color: var(--blue);
    transition: all ease transform 300ms !important;
  }

  #header .header-nav.header-nav-links nav > ul > li:hover > a {
    background-color: white !important;
    color: var(--blue) !important;
    transition: all ease transform 300ms !important;
  }

  .dropdown-menu .dropdown-mega-content .row div:not(:last-child) {
    border-right: 1px solid var(--blue);
  }

  .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item .carsoul-content{
    max-width: 60%;
  }
  
}


#header .header-top {
  border-bottom: none;
  background-color:white ;
  min-height: 47px;
}
#header .header-top .header-row a{
  color: var(--textColor) !important;
}

#header .header-body {
  display: flex; 
  flex-direction: column;
  background-color: var(--blue) !important;
  transition: min-height 0.3s ease;
  width: 100%;
  border-top: none;
  border-bottom: none;
  z-index: 1001;
}

.owl-carousel.dots-inside .owl-dots {
  position: absolute;
  bottom: 1rem;
  left:3rem;
  /* width: auto; */
  margin-top: 0;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--ulbarShar);
}

.owl-carousel .owl-nav.large {
  bottom: 0;
  right: 3rem;
  position: absolute;
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.owl-carousel .owl-nav button.owl-prev i,
.owl-carousel .owl-nav button.owl-next i{
  outline: 0;
  margin: 0;
  color: var(--ulbarShar);
}

.owl-carousel.nav-bottom .owl-nav {
  position: static;
  margin: 0;
  padding: 0;
  transform: none;
}
.owl-carousel.rounded-nav .owl-nav button[class*="owl-"] {
  padding: 3px 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: 0 0;
  border: 1px solid #999;
  color: #999;
}
/* .owl-carousel.nav-bottom .owl-nav button.owl-prev::before {
  font-family: 'Font Awesome\ 5 Free';
  content: "<";
}
.owl-carousel.nav-bottom .owl-nav button.owl-next::before {
  font-family: 'Font Awesome\ 5 Free';
  content: ">";
} */

@keyframes buttonAnimat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.owl-carousel > .owl-stage-outer > .owl-stage > .owl-item button.carsoul-button {
  width: fit-content;
  padding:2px 30px 2px 30px;
  border-radius: 20px;
  background-color:transparent ;
  border: 2px solid white;
  color: white;
  opacity: 1;
  animation-name: buttonAnimat;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}



.owl-carousel > .owl-stage-outer > .owl-stage > .owl-item button.carsoul-button:hover {
  background-color: white;
  color: var(--blue);
}

/*========= section-2 ========= */
section.section-2 h5 {
  padding-top: 10px;
  text-align: center;
  border-top: 2px solid rgb(56, 56, 56);

}
section.section-2 article > .row img {
  padding-bottom: 10px;
}

section.section-2 article > .row {
  justify-content: center;
}

section.section-2 article {
  width: 148px;
  height: 195px;
}

section.section-2 .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  display: flex;
  padding: 5px;
  height: 210px !important;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 !important;
}

section.section-2 .owl-carousel .owl-stage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
}


/* tom delgets deer */
section.section-2 .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}

/* jijig delgets deer */
section.section-2 .owl-carousel .owl-dots:not(.disabled),
section.section-2 .owl-carousel .owl-nav:not(.disabled) {
  display: none;
}

/*========= section-3 ========= */
section.section-3 article:hover{
  box-shadow: 1px 1px 6px gray;
  color: var(--blue);

}

section.section-3 article:hover a {
  color: var(--blue) !important;
}

section.section-3 .read-more-button:hover i.fa-arrow-right {
  color: var(--blue) !important;
  text-shadow: 1px 1px 3px gray;
}



section.section-3 .read-more-button:hover h4 {
  text-shadow: 1px 1px 3px gray;
}


/*========= section-4 ========= */
section.section-4 .owl-carousel img {
  border:1px solid gray;
  margin: 0;
  object-fit: contain;
}
section.section-4 .owl-carousel .owl-stage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
}
section.section-4 .owl-carousel .owl-stage .owl-item {

  padding: 10px;
}

section.section-4 .owl-carousel img:hover {
  box-shadow: 1px 1px 6px gray;
}






