#header div.header-top {
  background-color: #1F1F1F;
  padding: 0 30px 0 30px !important;
}
#header .header-body {
  background-color: #1F1F1F;
  height: 64px !important;
  width: 100%;
}

#header div.header-top * {
  color: var(--white) !important;
}

#header div.header-top .border-right {
  border-right: 1px solid white !important;
}

.fa-search.header-nav-top-icon {
  font-size: 15px !important;
}

#header .header-top .header-logo img {
  max-width: 200px !important;
}

.swiper-logo {
  position:absolute;
  z-index: 100;
  top:30px;
  left:30px;
  width: 130px;
  object-fit: contain;
}