@media (min-width: 990px) {
  .owl-carousel>.owl-stage-outer>.owl-stage>.owl-item .carsoul-content {
    max-width: 60%;
  }
  section.section-3 article {
    height: 445px;
    overflow: hidden;
  }
  section.video {
    margin-bottom: 150px;
  }
  
  #section-top img {
    height: 600px !important;
  }

  img.brand-logo {
    width: 200px !important;
  }

}


img.cover-photo {
  max-height: 500px;
  object-fit: cover;
  object-position: top center;
}

img.brand-logo {
  position: absolute;
  top:90px;
  left: 4px;
  width: 100px;
  object-fit: contain;
}

@media (min-width:400px) {
  #section-top img.cover-photo {
    height: 220px;
  }

  
}

#section-top img {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}




section.categories .owl-theme .owl-nav > button {
  position: absolute;
  top: 35%;
  background-color: rgba(0, 0, 0, 0.247) !important;
  width: 45px !important;
  border-radius: 50%;
  height: 45px !important;
}

section.categories .owl-theme .owl-nav > .owl-prev {
  left: 2px;
}

section.categories .owl-theme .owl-nav > .owl-next {
  right: 2px;
}

section.categories {
  margin-top: 50px;
  margin-bottom: 50px;
}

.owl-carousel .owl-nav.disabled {
  display: none !important;
}

/* ========= categories ========= */
section.categories .categories-row {
  margin-bottom: 20px;
}

section.categories .product .image-container {
  margin: 0;
  border-radius: 10px;
  object-fit: cover !important;
  background-color: var(--tsagaanSaaral);
  overflow: hidden;
}

section.categories .product img.image {
  padding: 30px;
}

/* product */

section.categories .product .category-name {
  margin: 10px 0 5px 0;
  text-align: center;
}


section.categories .owl-theme .owl-nav > .owl-next::after {
  font-family: "Font Awesome\ 6 Free";
  content: "\f054";
  font-weight: 700;
  color: var(--textColor);
}
section.categories .owl-theme .owl-nav > .owl-prev::after {
  font-family: "Font Awesome\ 6 Free";
  content: "\f053";
  font-weight: 700;
  color: var(--textColor);
  color: var(--textColor);
}


