#footer {
  background:var(--gray);
}

/* #footer .footer-bottom {
  background-color: #1d77dd;
} */

#footer h5,
#footer a {
  color: white !important;
  margin: 0 !important;
  text-transform: none;
  font-size: 15px !important;
  font-weight: 500;
  line-height: 25px;
}

#footer i {
  color: white !important;
  font-size: 15px !important;
}
#footer h5,
#footer a {
  color: white !important;
  margin: 0 !important;
  
  text-transform: none;
  font-size: large;
  font-weight: 500;
}

#footer i {
  justify-content: center;
  font-size: 20px;
  align-items: center;
  color: var(--white);
  display: flex;
  border: 0.1px solid rgb(136, 136, 136);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#footer .social-links i:hover {
  background-color: var(--white) !important;
  border-color: var(--gray) !important;
  color: var(--gray) !important;
}

#footer .footer-links a:hover {
  text-decoration: underline !important;
}

#footer .footer-text {
  display: flex;
  gap: 5px;
  align-items: center;
}

#footer img.logo {
  width: 230px;
}

/* @media (min-width:1200px) {
  #footer .col-lg-6 {
    display: flex;
    justify-content: center;
  }
} */

#footer .col-lg-6 {
  height:85px;
}

#footer .footer-bottom {
  background-color:rgb(58, 58, 58) ;
}

#footer .footer-bottom > div {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

#footer .footer-bottom img {
  width: 70px;
  opacity: 0.5;
  object-fit: contain;
}

#footer .footer-bottom p {
  color: white;
  opacity: 0.5;
  font-family: Arial, Helvetica, sans-serif;
}

