@media (min-width: 990px) {
  .owl-carousel > .owl-stage-outer > .owl-stage > .owl-item .carsoul-content {
    max-width: 60%;
  }
  section.section-3 article {
    height: 445px;
    overflow: hidden;
  }
  section.video {
    margin-bottom: 60px;
  }

  #section-top img.cover-photo {
    height: 600px !important;
  }

  section.categories .product .category-name {
    margin: 10px 0 5px 0;
    text-align: center;
  }
}

#section-top {
  max-height: 600px !important;
  overflow: hidden !important;
  position: relative !important;
  /* object-position: top center; */
}

#section-top img.cover-photo {
  height: 100%;
  object-fit: cover;
  width: 100% !important;
}

@media (max-width: 968px) {
  img.brand-logo.bang_olufsen {
    width: 100px !important;
    top: 28px !important;
  }
  img.brand-logo.miele {
    width: 150px !important;
    top: 0px !important;
  }
  img.brand-logo.apple {
    width: 100px !important;
    top: 28px !important;
    left: 0px !important;
  }
}

/* apple */
img.brand-logo.apple {
  position: absolute;
  top: 40px;
  width: 200px;
  left: 4px;
}

/* bang_olufsen */
img.brand-logo.bang_olufsen {
  position: absolute;
  top: 40px;
  width: 200px;
  left: 4px;
}

/* .miele */
img.brand-logo.miele {
  position: absolute;
  top: -14px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
}

@media (min-width: 400px) {
  #section-top img.cover-photo {
    height: 220px;
  }
}

section.categories .owl-theme .owl-nav > button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.247) !important;
  width: 30px !important;
  border-radius: 50%;
  height: 30px !important;
}

section.categories .owl-theme .owl-nav > .owl-prev {
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.categories .owl-theme .owl-nav > .owl-next {
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.categories .owl-theme .owl-nav > .owl-prev::after {
  font-size: 13px;
}

section.categories .owl-theme .owl-nav > .owl-next::after {
  font-size: 13px;
}

section.categories {
  margin-top: 50px;
  margin-bottom: 50px;
}

.owl-carousel .owl-nav.disabled {
  display: none !important;
}

/* ========= categories ========= */
section.categories .categories-row {
  margin-bottom: 20px;
}

section.categories .product .image-container {
  margin: 0;
  border-radius: 10px;
  object-fit: cover !important;
  background-color: var(--tsagaanSaaral);
  overflow: hidden;
}

section.categories .product img.image {
  padding: 30px;
}

/* product */

section.categories .product .category-name {
  margin: 10px 0 5px 0;
  text-align: center;
}

section.categories .owl-theme .owl-nav > .owl-next::after {
  font-family: "Font Awesome\ 6 Free";
  content: "\f054";
  font-weight: 700;
  color: var(--textColor);
}
section.categories .owl-theme .owl-nav > .owl-prev::after {
  font-family: "Font Awesome\ 6 Free";
  content: "\f053";
  font-weight: 700;
  color: var(--textColor);
  color: var(--textColor);
}
