#footer {
  background: rgb(41, 108, 186);
  background: linear-gradient(
    0deg,
    rgba(41, 108, 186, 1) 0%,
    rgba(35, 152, 227, 1) 94%
  );
}

/* #footer .footer-bottom {
  background-color: #1d77dd;
} */

#footer h5,
#footer a {
  color: white !important;
  margin: 0 !important;
  text-transform: none;
  font-size: large;
  font-weight: 500;
  line-height: 25px;
}
#footer h5,
#footer a {
  color: white !important;
  margin: 0 !important;
  
  text-transform: none;
  font-size: large;
  font-weight: 500;
}

#footer i {
  background-color: white;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  color: var(--blue);
  display: flex;
  border: 2px solid transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#footer .social-links i:hover {
  background-color: var(--ulbarShar);
  border-color: white;
  color: white;
}

#footer .footer-links a:hover {
  text-decoration: underline !important;
}

#footer .footer-text {
  display: flex;
  gap: 5px;
  align-items: center;
}

#footer img.logo {
  width: 226px;
}

@media (min-width: 764px) {
  #footer i {
    background-color: white;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    color: var(--tsaiwarBlue);
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  #footer img.logo {
    width: 290px;
  }
}
