:root {
  --blue: #296cba;
  --white: #fff;
  --black:#000;
  --tsaiwarBlue:#2398e3;
  --transColor: #e4e4e457;
  --saaral:rgb(179, 179, 179);
  --textColor: rgb(42, 42, 42);
  --ulbarShar: #f16122;
}

/* header color */
html:not(.sticky-header-active)
  #header .header-body {
  background-color: var(--saaral) !important;
}

body > .body > .main {
  padding-top: 144px;
}

.text-with-icon {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

div.row-text-padding > * {
  padding: 5px 27px 5px 27px !important;
}