/* @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Varela+Round&display=swap');
:root {
  --blue: #296cba;
  --white: #fff;
  --black:#000;
  --tsaiwarBlue:#2398e3;
  --transColor: rgba(56, 63, 70, 0.253);
  --saaral:rgb(179, 179, 179);
  --gray:#383F46;
  --tsagaanSaaral:rgb(238, 238, 238);
  --textColor: rgb(32, 32, 32);
  --ulbarShar: #f16122;
  --sm:576px;
  --md:768px;
  --lg:992px;
}

html > body > .body > .main h3 {
  line-height: 28px;
  font-weight: bold;
  letter-spacing: 0.2px !important;
}
html > body > .body > .main h4 {
  letter-spacing: 0.2px !important;
  font-weight: 500;
}

html > body > .body > .main p {
  line-height: 23px;
  letter-spacing: 0.2px;
}

html > body > .body a {
  line-height: 20px;
  letter-spacing: 0.2px;
}

/* ======= */
div.page-track {
  display: flex;
  align-items: baseline;
  gap:5px;
}

div.page-track a,.page-track i {
  color:var(--blue);
  text-transform: uppercase;
}
/* ========= */

@media (max-width:764px) {
  html > body > .body > .main h3 {
    font-size: 19px ;
  }
}
section article img {
  height: 276px;
  object-fit: cover;
  width: 100%;
}

html > body > .body > .main h4 {
  font-size: 18px ;
}

@media (max-width:960px) {

  html > body > .body > .main h4 {
    font-size: 15px !important;
  }
}



body > .body > .main {
  padding-top: 144px;
  user-select: none;
}

.bg-saaral {
  background-color: var(--tsagaanSaaral);
}

div.row-text-padding > * {
  padding: 5px 27px 5px 27px !important;
}

section.news .row > div {
  max-width:440px;
}