:root {
  --blue: #296cba;
  --white: #fff;
  --black:#000;
  --tsaiwarBlue:#2398e3;
  --transColor: #e4e4e457;
  --saaral:rgb(179, 179, 179);
  --tsagaanSaaral:rgb(238, 238, 238);
  --textColor: rgb(42, 42, 42);
  --ulbarShar: #f16122;
  --sm:576px;
  --md:768px;
  --lg:992px;
}

/* ======= */
div.page-track {
  display: flex;
  align-items: baseline;
  gap:5px;
}

div.page-track a,.page-track i {
  color:var(--blue);
  text-transform: uppercase;
}
/* ========= */

@media (max-width:764px) {
  html > body > .body > .main h3 {
    font-size: 17px ;
  }
}

/* header color */
html:not(.sticky-header-active)
  #header .header-body {
  background-color: var(--saaral) !important;
}

body > .body > .main {
  padding-top: 144px;
  user-select: none;
}

.bg-saaral {
  background-color: var(--tsagaanSaaral);
}

div.row-text-padding > * {
  padding: 5px 27px 5px 27px !important;
}