#header .header-nav-top .nav > li > a {
  padding: 0;
  font-size: 14px !important;
  display: inline-block;
}



#header .header-nav-top i {
  font-size: 15px !important;
  color: var(--textColor);
}

#header .header-row2 .logo img {
  width: 100px !important;
  /* background-color: white; */
}

html.sticky-header-active #header.header-semi-transparent-light .header-body {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.618) !important;
}

@media (max-width: 764px) {
  #header .header-nav.header-nav-links nav > ul > li > a,
  #header .header-nav.header-nav-links nav > ul > li:hover > a,
  #header .header-nav.header-nav-line nav > ul > li > a,
  #header .header-nav.header-nav-line nav > ul > li:hover > a {
    position: relative;
    background: 0 0 !important;
    margin: 0;
  }
}



/* max-width 991px */
@media (max-width: 991px) {
  html:not(.sticky-header-active)
    #header
    .header-nav.header-nav-links
    nav
    > ul
    > li
    > a {
    min-height: 100%;
  }

  html:not(.sticky-header-active) #header .header-row2 {
    background: var(--gray) !important;
  }

  #header .header-top {
    padding: 0 13px 0 13px;
  }

  #header .header-nav-main {
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  /* #header .header-top .header-logo img {
    max-width: 90px !important;
  } */

  #header .header-container #header-links {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
 

  html #header .header-container #header-links {
    height: 60px;
  }
  html #header .fa-bars:before {
    color: var(--saaral) !important;
  }

  html #header .header-top {
    background-color: var(--white);
  }

  html.sticky-header-active #header.header-semi-transparent-light .header-body {
    background-color: var(--gray) !important;
  }

  #header .header-row2 .logo img {
    width: 75px !important;
  }

  #header .header-top .header-logo img {
    max-width: 190px !important;
  }
}
/* max-width 991px end*/



/* min-width 991px*/
@media (min-width: 991px) {
  #header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
    color: var(--blue);
    background-color: var(--white) !important;
    transition: all ease transform 300ms !important;
  }
  html.sticky-header-active #header .logo-column {
    background-color: transparent!important;
    height: 65px;
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  #header .header-top {
    padding: 0 30px 0 30px !important;
  }

  html #header .header-row2 li.dropdown {
    height: 65px !important;
  }

  html
    #header
    .header-container
    #header-links
    .header-row2 {
    height: 65px !important;
    overflow: hidden;
  }

  /* html.sticky-header-active
    #header
    .header-container
    #header-links
    .header-row2 {
    max-height: 75px;
  } */

  /* html.sticky-header-active
    #header
    .header-nav.header-nav-links
    nav
    > ul
    > li
    > a {
    min-height: 100%;
    height: 75px;
    text-transform: uppercase;
    padding: 0 3rem;
  } */

  html #header
    .header-nav.header-nav-links
    nav
    > ul
    > li
    > a.dropdown-item {
    height: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding:9px 30px 1px 30px;
  }


  html #header
  .header-nav.header-nav-links
  nav
  > ul.nav {
  height: 100% !important;
  display: flex;
  align-items: center;
}

html #header
.header-nav.header-nav-links
nav.collapse {
height: 65px !important;
}

  #header .header-row2 .logo img {
    width: 87px !important;
    object-fit: contain;
  }

  #header .header-nav.header-nav-links nav > ul > li > a {
    font-size: 18px;
  }

  #header .header-nav.header-nav-links nav > ul > li:hover > a {
    background-color: white !important;
    color: var(--blue) !important;
    transition: all ease transform 300ms !important;
  }

  .dropdown-menu .dropdown-mega-content .row div:not(:last-child) {
    border-right: 0.1px solid var(--transColor);
  }

  div.dropdown-mega-content > div.row > div {
    padding: 0 20px 0 20px !important;
    /* text-align: center; */
  }

  /* div.dropdown-mega-content > div.row {
    padding-left:30px !important;
    padding-right:30px !important;
  } */


  #header .header-top .header-logo img {
    max-width: 253px;
  }
}
/* min-width 991px end*/


.header-row2 {
  background:#383F46 ;
  overflow: hidden !important;
}

#header .header-top {
  border-bottom: none;
  background-color: #F2F5FA;
  /* min-height: 47px; */
}
#header .header-top .header-row a {
  color: var(--textColor);
}

#header .header-body {
  display: flex;
  flex-direction: column;
  transition: min-height 0.3s ease;
  width: 100%;
  border-top: none;
  border-bottom: none;
  z-index: 1001;
}


