#header .header-nav-top .nav > li > a {
  padding: 0;
  display: inline-block;
}

#header .header-nav-top .nav > li.header-nav-features i {
  font-size: 15px;
  color: var(--textColor);
}

#header .header-row2 .logo img {
  width: 100px !important;
  /* background-color: white; */
}

html.sticky-header-active #header.header-semi-transparent-light .header-body {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.618) !important;
}

@media (max-width: 764px) {
  #header .header-nav.header-nav-links nav > ul > li > a,
  #header .header-nav.header-nav-links nav > ul > li:hover > a,
  #header .header-nav.header-nav-line nav > ul > li > a,
  #header .header-nav.header-nav-line nav > ul > li:hover > a {
    position: relative;
    background: 0 0 !important;
    /* padding: 10px 30px 10px 30px; */
    margin: 0;
  }
}

@media (max-width: 991px) {
  #header .header-nav-main {
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  #header .header-top .header-logo img {
    max-width: 160px !important;
  }

  html #header.header-semi-transparent-light .header-body {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.459) !important;
  }
  #header .header-container #header-links {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  html:not(.sticky-header-active)
  #header
  .header-container
  #header-links
  .header-row2 {
  height: 65px !important;
}

  html.sticky-header-active
    #header
    .header-container
    #header-links
    .header-row2 {
    height: 60px;
  }
  html #header .fa-bars:before {
    color: var(--saaral) !important;
  }

  html #header .header-top {
    background-color: var(--tsagaanSaaral);
  }

  html #header.header-semi-transparent-light .header-body {
    background-color: var(--white) !important;
  }

  html.sticky-header-active #header .logo-column {
    height: 64px;
    background-color: white !important;
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  #header
    .header-nav-main:not(.header-nav-main-mobile-dark)
    nav
    > ul
    > li
    > a.active {
    background-color: var(--blue) !important;
    color: white;
  }
}

@media (min-width: 991px) {
  #header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
    color: var(--blue);
    background-color: var(--white) !important;
    transition: all ease transform 300ms !important;
  }
  html.sticky-header-active #header .logo-column {
    background-color: white !important;
    height: 90px;
    min-height: 100%;
    display: flex;
    align-items: center;
  }
  

  #header .header-row2 .logo img {
    width: 90px !important;
    object-fit: contain;
  }

  #header .header-nav.header-nav-links nav > ul > li > a {
    font-size: 18px;
  }

  #header .header-nav.header-nav-links nav > ul > li:hover > a {
    background-color: white !important;
    color: var(--blue) !important;
    transition: all ease transform 300ms !important;
  }

  .dropdown-menu .dropdown-mega-content .row div:not(:last-child) {
    border-right: 1px solid var(--blue);
  }

  div.dropdown-mega-content > div.row > div {
    padding: 0 20px 0 20px !important;
    /* text-align: center; */
  }

  /* div.dropdown-mega-content > div.row {
    padding-left:30px !important;
    padding-right:30px !important;
  } */

  html.sticky-header-active #header.header-semi-transparent-light .header-body {
    background: linear-gradient(
      0deg,
      rgba(35, 152, 227, 1) 10%,
      rgba(37, 115, 220, 1) 90%
    );
  }
}

#header .header-top {
  border-bottom: none;
  background-color: white;
  /* min-height: 47px; */
}
#header .header-top .header-row a {
  color: var(--textColor);
}

html:not(.sticky-header-active)
  #header
  .header-container
  #header-links
  .header-row2 {
  height: 90px;
}

html.sticky-header-active #header .header-container #header-links .header-row2 {
  max-height: 75px;
}

html.sticky-header-active
  #header
  .header-nav.header-nav-links
  nav
  > ul
  > li
  > a {
  min-height: 100%;
  height: 75px;
  padding: 0 3rem;
}

html:not(.sticky-header-active)
  #header
  .header-nav.header-nav-links
  nav
  > ul
  > li
  > a {
  min-height: 100%;
  height:30px;
  padding: 0 3rem;
}

#header .header-body {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    0deg,
    rgba(35, 152, 227, 1) 0%,
    rgba(41, 105, 220, 1) 94%
  ); */
  transition: min-height 0.3s ease;
  width: 100%;
  border-top: none;
  border-bottom: none;
  z-index: 1001;
}

#header .header-top .header-logo img {
  max-width: 170px;
}
