section.toggle > .toggle-content > a:hover {
  background-color: var(--tsagaanSaaral);
}

.box-wrapper {
  padding:30px 0 30px 0;
}
div.toggle {
  border-top: 4px solid var(--blue) !important;
  height: fit-content;
  max-width: 500px;
}

.toggle.active > label:before, .toggle.active > .toggle-title:before,
.toggle > label:before, .toggle > .toggle-title:before {
  content: none;
}

.toggle:not(.active)>.toggle-content {
  display: flex !important;
}

.box-wrapper > div.row:not(:last-child) {
  padding-bottom: 25px;
}


.rounded-white-box {
  display:flex;
  justify-content: center;
  align-items: center;
  height:246px;
  background-color: var(--white);
  padding:40px 30px 40px 30px;
  text-align: center;
  border-radius: 10px;
  /* margin: 0 30px 0 30px; */
  box-shadow:-1px +1px 4px 0px rgba(0, 0, 0, 0.082);
}

@media (min-width:977px) {
  .box-wrapper {
    padding:80px 0 80px 0;
  }
  .box-wrapper > div.row:not(:last-child) {
    padding-bottom: 80px;
  }
  
}



@media (min-width:764px) {
  .rounded-white-box {
    margin: 0 30px 0 30px;
  }
  .vilchilgeenvvd > div:not(:last-child) {
    border-right: 1px solid var(--textColor);
  }
}

@media (max-width:764px) {
  
  .vilchilgeenvvd > div {
    border: 1px solid var(--textColor);
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.rounded-white-box > .content > h4 {
  color:var(--blue);
  margin-bottom: 25px;
}

.rounded-white-box > .content > button {
  border-radius: 25px;
  margin-top: 10px;
  padding: 5px 36px 5px 36px;
  background-color: var(--white);
  border: none;
  box-shadow:-1px 1px 3px 1px rgba(0, 0, 0, 0.082);
}

.rounded-white-box > .content > button >a > i {
  padding-left: 10px;
  color: var(--blue);
}

.rounded-white-box > .content > button >a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rounded-white-box > .content > button:hover {
  box-shadow:-2px 2px 5px 2px rgba(0, 0, 0, 0.144);
}
.rounded-white-box > .content > button:hover > a {
  color: var(--blue);
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.vilchilgeenvvd > div > p {
  font-weight: 700 !important;
  color: var(--black) !important;
  margin: 0;
}
.vilchilgeenvvd > div:hover > p {
  font-weight: 700 !important;
  color: var(--blue) !important;
}


.toggle-content > a {
  border-bottom: 1px solid var(--saaral);
}
