section.toggle > .toggle-content > a:hover {
  color: var(--blue);
}

section.toggle > .toggle-content > a.active {
  color: var(--blue);
  /* background-color: var(--tsagaanSaaral); */
}
div.toggle {
  border-top: 4px solid var(--blue) !important;
  height: fit-content;
  max-width: 500px;
}