/* .swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(194, 141, 141);

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-item {
  display: flex;
  gap: 8px;
  padding: 0;
  align-items: center;
} */

/*========= swiper-section ========= */
section.swiper-section .swiper-column > .shiidel h5 {
 margin: 0;
 color: var(--gray);
 word-wrap: break-word !important;
}

@media (min-width:978px) {
  section.swiper-section .swiper-column > .shiidel h5 {
    font-size: 13px !important;
    letter-spacing:0.6px;
  }
}


@media (max-width:779px) {
  section.swiper-section .swiper-column > .shiidel h5 {
    font-size: 10px !important;
  }
  section.swiper-section .swiper-column > .shiidel>a >img {
    width: 27px !important ;
  }

  section.swiper-section .swiper-column > .shiidel {
    gap:7px !important;
    padding:2px 3px !important;
  }

  section.swiper-section .swiper-column {
    gap: 20px !important;
  }
}

section.swiper-section h3 {
  border-bottom: 2px solid #F4EAEA;
 }

section.swiper-section .swiper-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
}

section.swiper-section .swiper-column > .shiidel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding:10px;
  gap:13px;
}

section.swiper-section .swiper-column > .shiidel:hover {
  border-radius:10px; 
  box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.329);
}

section.swiper-section .swiper-column > .shiidel>a >img {
  width: 33px ;
  height: 33px ;
  object-fit: contain;
}

section.swiper-section .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  display: flex;
  padding: 5px;
  /* height: 60px !important; */
  justify-content: start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 !important;
}

section.swiper-section .owl-carousel .owl-stage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
}

section.swiper-section .owl-carousel .owl-stage-outer {
  margin-bottom: 38px;
  height: auto !important;
}

section.swiper-section .owl-carousel.nav-icon-1 .owl-nav .owl-next:before,section.swiper-section .owl-carousel.nav-icon-1 .owl-nav .owl-prev:before {
  font-size: 10px;
}

section.swiper-section .owl-carousel.nav-icon-1 .owl-nav .owl-next:hover,section.swiper-section .owl-carousel.nav-icon-1 .owl-nav .owl-prev:hover {
  background-color: white;
  color: var(--textColor);
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.329);
}

/* tom delgets deer */
/* section.swiper-section .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
} */

/* jijig delgets deer */
/* section.swiper-section .owl-carousel .owl-dots:not(.disabled),
section.swiper-section .owl-carousel .owl-nav:not(.disabled) {
  display: none;
} */
