.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

button.box {
  border: none;
  background-color: transparent;
  padding: 0;
}

button.box.active {
  background-color: var(--tsagaanSaaral);
  border: none !important;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.tab-contents {
  margin-right: 8px;
  margin-left: 8px;
}

.tabcontent h3 {
  margin-bottom: 7px;
}
.tabcontent > div {
  display: flex;
  justify-content: space-between;
}

.tabcontent a {
  background-color: var(--blue);
  padding: 1px 13px 1px 13px;
  color: white !important;
  font-size: smaller;
  height: fit-content;
}
.tabcontent p {
  margin: 0;
}
.tabcontent a:hover {
  box-shadow: -1px 1px 3px 0 rgb(70, 70, 70);
}

.tabcontent {
  display: none;
  background-color: var(--tsagaanSaaral);
  width: 100%;
  padding: 17px;
}

@media (max-width: 764px) {
  .box {
    border-bottom: 1.5px solid var(--saaral) !important;
    margin: 15px 8px 15px 8px;
  }
  .tabcontent {
    display: none;
    background-color: var(--tsagaanSaaral);
    width: 100%;
  }
  .box > img {
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 764px) {
  button.box.active {
    padding-bottom: 31.5px;
  }
  .tabcontent a {
    padding: 2px 20px 2px 20px;
    color: white !important;
    font-size: small;
    height: fit-content;
  }
  .tab-contents {
    margin-right: 30px;
    margin-left: 30px;
  }
  .tabcontent {
    padding: 40px;
  }
  .box {
    border-bottom: 1.5px solid var(--saaral) !important;
    margin: 40px 30px 40px 30px;
  }
  .box > img {
    width: 100%;
    object-fit: contain;
    padding-bottom: 16px;
  }
}
