/*========= section-4 ========= */
section.section-4 .owl-carousel img {
  box-shadow:0 0 6px 2px  rgba(0, 0, 0, 0.068) ;
  border-radius: 20px;
  padding: 25px;
  margin: 0;
  object-fit: contain;
}

section.section-4 .owl-carousel .owl-stage {
  position: relative;
  display: flex;
  align-items: baseline;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
}

section.section-4 .owl-carousel .owl-stage .owl-item {
  padding: 18px;
  margin-left: 5px;
}

section.section-4 .owl-carousel img:hover {
  box-shadow: 1px 1px 6px gray;
}